body{
	background: #d6eaf8;
	overflow-x: hidden;
		
	}
	a{
		text-decoration: none;
	}

.btn {
	display: inline-block;
	background: transparent;
	color: inherit;
	font: inherit;
	text-align: center;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
	text-align: center;
	background: rgb(214, 43, 163);
	color: #ffffffd5;
	box-shadow: 0 0 10px 2px rgba(192, 80, 80, 0.1);
	border-radius: 2px;
	padding: 12px 36px;
	box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);	
}
.textarea1 {
	text-align: center;
	width: 400px;
	 height: 500px;
  resize: none;
  height:auto;
  max-width:600px;
  color:#999;
  font-weight:400;
  font-size:30px;
  font-family:'Ubuntu', Helvetica, Arial, sans-serif;
  width:100%;
  background:#fff;
  border-radius:3px;
  line-height:2em;
  border:none;
  box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
  padding:30px;
  -webkit-transition: height 2s ease;
-moz-transition: height 2s ease;
-ms-transition: height 2s ease;
-o-transition: height 2s ease;
transition: height 2s ease;
}