<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/index.css">
    {% block head %}
    
    {% endblock %}
</head>

<body>
<div class="wow animated fadeInDown" data-wow-delay="1.0s" id="main"  >

        <style type="text/css">
            html, 
            body {
            height: 100%;
            }
            
            body {

            background-color:linear-gradient(90deg, rgb(230, 198, 139), rgb(77, 177, 216));
            }
            </style>

    {% block body %}{% endblock %}
</body>
</html>