{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/bg.css">
  <link rel="icon" type="image/png" href="…">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="static/css/add.css">
      <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="static/css/index.css">
<script src="scripts/bg.js"></script>
<title>Main page</title>

{% endblock %}

{% block body %}
<div><a class="sign_in_button" href="/login">Logout</a></div>

<div class="content">
    <h1 style="text-align: center">Tasks</h1>

    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}        
            <tr>
                <td><a style="color: #000000;text-decoration:none" href="/comment/{{task.modelClass}}/{{task.id}}">{{task.content}}</a></td>
                <td>{{task.date_created.date()}}</td>
                <td>
                    <form action="/delete/{{task.modelClass}}/{{task.id}}">
                        <input type="submit" value="Delete!">
                    </form>
                    <form action="/move/{{task.modelClass}}/{{task.id}}">
                        <input type="submit" value="Move to in progress">
                    </form>
                </td>
            </tr>
        {% endfor %}


    </table>

    <!-- <form action="/" method="POST">
        <input class="form" type="text" name="content" id="content">
        <input class="btn" type="submit" value="add task">
    </form> -->

    <form action="/" method="POST" autocomplete="off">
        <fieldset class="url">
          <input type="text" required>
    <!--      <label for="url"><i class="fa fa-search" aria-hidden="true"></i> Search</label>-->
          <div class="after"></div>
        </fieldset>
        <fieldset class="enter">
          <button></button>
        </fieldset>
      </form>
    
    <br>

    <h1 style="text-align: center">In progress</h1>

    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for process in process %}        
            <tr>
                <td><a style="color: #000000;text-decoration:none" href="/comment/{{process.modelClass}}/{{process.id}}">{{process.content}}</a></td>
                <td>{{process.date_created.date()}}</td>
                <td>
                    <form action="/delete/{{process.modelClass}}/{{process.id}}">
                        <input type="submit" value="Delete!">
                    </form>
                    <form action="/move/{{process.modelClass}}/{{process.id}}">
                        <input type="submit" value="Done!">
                    </form>
                    
                </td>
            </tr>
        {% endfor %}


    </table>

    <br>
    <br>
    <br>

    <h1 style="text-align: center">Done</h1>

    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for done in done %}        
            <tr>
                <td><a style="color: #000000;text-decoration:none" href="/comment/{{done.modelClass}}/{{done.id}}">{{done.content}}</a></td>
                <td>{{done.date_created.date()}}</td>
                <td>
                    <form action="/delete/{{done.modelClass}}/{{done.id}}">
                        <input type="submit" value="Delete!">
                    </form>
                </td>
            </tr>
        {% endfor %}


    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<a style="text-align: left; object-position: left;" href="/tasknew">beta front-end</a>
{% endblock %}




