<html>
<head>
	<meta charset="UTF-8">
	<title>Sing in</title>
	<link rel="stylesheet" href="static/css/style.css"/>
    <script  src="scripts/bg.js"></script>
<link rel="stylesheet" href="static/css/bg.css">

</head>
<body>
<div class="main">

    <div class="order">
    <div class="line"><div class="form-item">
    <input type="name" class="form-input" required>
    <label class="form-label">username</label>
  </div>
        <div class="line_orange"></div>
</div>
    <div class="line"><div class="form-item">
    <input type="phone_number" class="form-input" required>
    <label class="form-label">password</label>
  </div>
        <div class="line_orange"></div>
        </div>
    </div>
    <div class="sign_div">
    <div class="send">
    <p><input class="send_button" type="button" value=" Sign in"><a href=""></a></p>
    </div>
        <div class="send">
            <a href="">
    <p><input class="send_button" type="button" value=" Сhart"></p></a>
    </div>
        </div>
    </div>
    </body>
</html>