<html>
<head>
	<meta charset="UTF-8">
	<title>Sing in</title>
	<link rel="stylesheet" href="static/css/login_new.css"/>
    <script  src="scripts/bg.js"></script>
<link rel="stylesheet" href="static/css/bg.css">

</head>
<body>
<div class="main">
<form action="/login" method="POST">
    <div class="order">
        <div class="line"><div class="form-item">
        <input type="name" class="form-input" placeholder="username"  required>
        <label class="form-label">username</label>
      </div>
            <div class="line_orange"></div>
    </div>
        <div class="line"><div class="form-item">
        <input type="password" class="form-input" placeholder="password" name="password" required>
        <label class="form-label">password</label>
      </div>
            <div class="line_orange"></div>
            </div>
        </div>
        <div class="sign_div">
        <div class="send">
        <p><input class="send_button" type="submit" value="Sign in"><a href=""></a></p>
        </div>
            <div class="send">
                <a href="">
            
        <p><a href="/register" class="send_button">register</a></p></a>
        </div>
            </div>
        
</form>
</div>
    </body>
</html>