{% extends 'base.html' %}
{% block head %}

<title>Tasks</title>
<link rel="stylesheet" href="static/css/tasks_new.css">

{% endblock %}

{% block body %}
<div style="text-align: center;"><h1>To do</h1></div>
{% for tasks in tasks %}
<div  class="main" style="text-align: center;">
    <div class="container">
    <div><h1>{{tasks.content}}</h1></div>
    <div class="date"><p>{{tasks.date_created.date()}}</p></div>
    <div>
        <div  class="button_div"><button>In progress</button></div>
         <div  class="button_div"><button>Delete</button></div>
        </div>
        </div>
        </div>
    <br>
{% endfor %}


{% endblock %}


